* {
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
	background: #471b15;
}

#body, #header_content, #footer_content {
    padding: 0;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
	font-size: 100%;
}





/* header area */

#header {
    position: relative;
	background: url(/images/jade.jpg) repeat;
}

#header_content {
	position: relative;
}

#banner {
    clear: both;
	height: 100px;
}

.bar {
	font-size: 2em;
	margin: 0;
	padding: 2px 5px;
	text-align: center;
}

.bar a {
	color: #F90;
	text-decoration: none;
}

.bar a:hover {
	color: #999;
}

#menu {
}

#user {
	bottom: 0;
	right: 0;
}







/* main */

#main {
	background-color: #f0f0f0;
}

#body {
}

/* recipe column */

#recipe, #side {
	padding: 2% 0;
	width: 90%;
	margin: 0 auto;
}

.recipe {
	font-size: 1em;
	position: relative;
}

#recipe h3 {
	text-align: left;
}

#recipe > div:first-child {
	margin: 0;
	padding: 5px 5px 5px 0;
	position: relative;
}

.tag {
	display: inline-block;
	position: relative;
	padding: 0 5px;
	margin: 0 0 0 5px;
	border-radius: 5px;
	border: 1px solid #000;
	font: bold "Courier New", Courier, monospace;
}

#recipe > div:last-child {
	padding: 10px;
	position: relative;
}

#recipe > div:last-child img {
	margin: 0 10px;
	position: relative;
	float: left;
	border: 1px solid black;
	border-radius: 0 20px;
	display: inline;
}

#recipe > div:last-child p {
	line-height: normal;
	margin: 10px 0;
}

/* side column */

#side {
    padding-bottom: 5px;
}

.side a {
	color: #F90;
}

.side > div {
    margin: 5px 5px 0 5px;
    padding: 2px;
    border-radius: 5px;
	/*border: 1px solid #000;*/
	background: url(/images/jade.jpg);
	color: #fff;
}

.side > div:nth-child(2) {
    height: 200px;
	background: #fff;
}

#popular, #latest {
	overflow: auto;
	overflow-y: hidden;
	padding: 10px 0 0 20px;
}

.sideScroll {
	position: relative;
	color: #fff;
}

.sideScroll div {
	height: 82px;
	width: 556px;
	overflow-y: hidden;
}

.sideScroll img {
	border: solid #fff 1px;
	border-radius: 5px;
	position: relative;
	float: left;
	display: block;
	margin: 0 20px 10px 0;
}





/* footer area */

.footer {
	color: #fff;
}

#footer {
	border-top: #f90 solid 2px;
	width: 100%;
	clear: both;
	position: relative;
	margin: 0;
}

#footer_content {
	position: relative;
	
	pad/ding: 5px 0 0 5px;
}

#footer_content div {
	ma/rgin: 0 5px 5px 0;
	
	padding: 15px 0;
	height: 130px;
	background-color: #471b15;
	-webkit-border-image-source: url(/images/choco_square.png);
	border-image-source: url(/images/choco_square.png);
	-webkit-border-image-slice: 15;
	border-image-slice: 15;
	-webkit-border-image-width: auto;
	border-image-width: auto;
	position: relative;
}

.footer_content p {
	margin: 0 15px;
}

.footer_content div:first-child {
	po/sition: absolute;
	
	text-align: left;
	
	wi/dth: 49%;
	to/p: 5px;
	le/ft: 5px;
}

.footer_content div:nth-last-child(2),
.footer_content div:last-child {
	posi/tion: relative;
	
	text-align: right;
	width: 49%;
	float: right;
}